body {
    background-image: url("maze.png");
    background-repeat: repeat;
}

.navbar {
    height: 50px;
    background-color: #70a7ff;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
}

ul {
    list-style-type: none;
    
}

li {
    float: left;
    padding-right: 15px;
    
}

a {
    color: white;
    font-size: 16px;
}

.middle-col {
    width: 960px;
    background-color: #d1d1d1;
    margin: 0 auto;
    margin-top: 110px;
    overflow: auto;
    border: solid 2px #70a7ff;
    border-radius: 5px;
    
} 
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white; 
    padding-left: 10px;   
}
.dot {
    height: 90px;
    width: 90px;
    background-color: #FF998A;
    border-radius: 50%;
    display: block;
    position: relative;
    left: 585px;
    top: -20px;
  }

.nav-logo {
    display: block;
    position: relative;
    left: 595px;
    top: -100px;
}

.landing-box {
    text-align: center;
    height: 250px;
    
}

h2 {
    color: black;
    padding-top: 10px;
}

.home-links {
    width: 310px;
    height: 150px;
    background-color: #3D6AB3;    
    float:left;
    margin: 10px 5px;
    position: relative;
    bottom: 0px;
    left: 0px;
    
    
}

.btn {
    background-color: #A9CC45; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.img-main {
    float: left;
    height: 200px;
    width: 300px;
    padding: 0px 20px 10px;
}
.mid-box {
    

}
.mid-col::after {
    content: "";
    clear: both;
    display: table;
}

p {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
}

.line {
    height: 200px;
    width: 2px;
    background-color: grey;
    margin-right: 10px;
    float:left;
}

.in-box {
    height: 35px;
    background-color: #70a7ff;
    position: relative;     
    top: -21px;


}