body {
    background-image: url("maze.png");
    background-repeat: repeat;
}

.navbar {
    height: 50px;
    background-color: #70a7ff;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 15;
}

ul {
    list-style-type: none;
    
}

li {
    float: left;
    padding-right: 15px;
    
}

a {
    color: white;
    font-size: 16px;
}

.middle-col {
    width: 960px;
    background-color: #d1d1d1;
    margin: 0 auto;
    margin-top: 110px;
    overflow: auto;
    border: solid 2px #70a7ff;
    border-radius: 5px;
    
} 
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white; 
    text-shadow: 2px 2px 3px black;  
}
.dot {
    height: 90px;
    width: 90px;
    background-color: #FF998A;
    border-radius: 50%;
    display: block;
    position: relative;
    left: 50%;
    top: -30%;
    box-shadow: 0px 0px 5px black;
  }

.nav-logo {
    display: block;
    position: relative;
    left: 50.8%;
    top: -190%;
}

.landing-box {
    text-align: center;
    height: 250px;
    
}

h2 {
    color: black;
}

.home-links {
    width: 310px;
    height: 100px;
    background-color: #70a7ff;    
    float:left;
    margin: 10px 5px;
    position: relative;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.btn {
    background-color: #A9CC45; 
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    border: solid 2px white;
    border-radius:5px;
    display: inline;
    font-size: 16px;
    opacity: 1;
    transition: 0.3s;
}
.btn:hover {opacity: 0.5}

.img-main {
    float: left;
    height: 200px;
    width: 300px;
    padding: 0px 20px 10px;
}

.mid-col::after {
    content: "";
    clear: both;
    display: table;
}

p {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
}

.line {
    height: 200px;
    width: 2px;
    background-color: grey;
    margin-right: 10px;
    float:left;
}

.in-box {
    height: 40px;
    background-color: #70a7ff;
    position: relative;     
    top: -22px;
}

.home-tabs {
    float:left;
    display: inline;
}
.home-tabs::after {
    content: "";
    clear: both;
    display: table;
}
.img-box {
    position: relative;
    text-align: center;
}


.image-text {
    position: absolute;
    left: 100px;    
    top: 80px;
}

.gallery-text {
    background-color: #70a7ff;
    color: white;
    font-size: 18px;
}

.gal-des {
    padding-top: 20px;  
}

.home-text {
    text-align: center;
    padding-top: -10px;
    margin-top: -5px;
}
.in-head-text {
    padding-left: 10px;
}